<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


<div class="toolbar mat-elevation-z5">
  <div style="display: inline">
  <h1 style="color: white;display: inline; font-family: sans-serif; font-size: 30px;">  <i class="fas fa-university" style="vertical-align: middle"></i>
    <span style="vertical-align: middle;margin-left: 15px;">DIGIBANK</span></h1>
  <p style="color: white;display: inline; margin-left: 50px">Internet Banking Portal</p>
</div>
  <br>
  <br>
  <ul>
    <li><button (click)="navigateToDashboard()"> <mat-icon style="vertical-align: middle;">dashboard</mat-icon><span style="vertical-align: middle; margin-left: 5px;">Account Summary</span></button></li>
    <li><button (click)="navigateToTransaction()"> <mat-icon style="vertical-align: middle;">history</mat-icon><span style="vertical-align: middle; margin-left: 5px;">Transactions</span></button></li>
    <li><button (click)="navigateToTransfer()"> <mat-icon style="vertical-align: middle;">swap_horiz</mat-icon><span style="vertical-align: middle; margin-left: 5px;">Transfer Money</span></button></li>

    <li style="float:right"><button (click)="logout()"><mat-icon style="vertical-align: middle;">exit_to_app</mat-icon>
      <span style="vertical-align: middle;  margin-left: 5px;">Logout</span></button></li>
    <li style="float:right"><button [routerLink]="['/profile', first_name]">
      <mat-icon style="vertical-align: middle;">person</mat-icon>
      <span style="vertical-align: middle;  margin-left: 5px;">{{ first_name }}
      </span></button></li>
  </ul>
</div>



<div class="box">
  <div class="group">
    <div class="overlap-group">
      <div class="rectangle"></div>
      <div class="text-wrapper" >Account Details<span style="font-size: 13px; font-weight: 400; color: red; margin-left: 10px;">Please never share your account details such as otp and pin with anyone else. Bank never ask for such.</span></div>
    </div>
  </div>
</div>

<table class="styled-table" style="width: 97%;display:relative;">
  <thead>
      <tr style="text-align: center; font-size: 14px;">
          <th >
            <span><i class="fas fa-regular fa-building-columns fa-lg"></i></span>
            <span style="margin-left: 10px;"> Account Number</span>
          </th>
          <th>
            <span><i class="fa-solid fa-file-invoice fa-lg"></i></span>
            <span style="margin-left: 10px;"> Account Type</span>
          </th>
          <th>
            <span><i class="fa-solid fa-coins fa-lg"></i></span>
            <span style="margin-left: 10px;">Current Balance</span>
          </th>
      </tr>
  </thead>
  <tbody >
      <tr  class="active-row" style="height: 80px;text-align: center;">
          <td>
            {{ accountDetails.acc_number }}
          </td>
          <td>
          
            {{ accountDetails.acc_type }}
          </td>
          <td>
           {{formatBalance(calculateEquivalentValue(accountDetails.balance))}}
          </td>
          
      </tr>
  </tbody>
</table>


<div class="box">
  <div class="group">
    <div class="overlap-group">
      <div class="rectangle"></div>
      <div class="text-wrapper" >All Transactions</div>
     
  </div>
</div>
<!-- <div>
    
  
    <h3>Transactions</h3>
    <ul style="background-color: white;">
      <li *ngFor="let transaction of transactions">
        <p>Date: {{ transaction.date }}</p>
        <p>Destination account: {{ transaction.destination_acc }}</p>
        <p>Description: {{ transaction.description }}</p>
        <p>Amount: {{ transaction.trans_amt }}</p>
        <p>Transaction Type: {{ transaction.trans_type }}</p>
        <p>Closing balance: {{ getClosingBalance(transaction) }}</p>
      </li>
    </ul>
  </div> -->


  <div class="example-header">
    <input style="margin-left: 25px;margin-top:5px;" matInput (keyup)="applyFilter($event)" placeholder="Search here...">
    </div>
    
      <div class="example-container mat-elevation-z8" style="width: 97%;margin-bottom: 100px;">
      
        <mat-table [dataSource]="transactions" matSort>
      
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
            <mat-cell  *matCellDef="let row"> {{getDate(row.date)}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="acc_number">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Transaction</mat-header-cell>
            <mat-cell *matCellDef="let row" style="color: blue;">{{getTransactionDetail(row.acc_number,row.destination_acc)}}</mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="amt">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
            <mat-cell *matCellDef="let row" [ngStyle]="{'color':(row.trans_type=='Credit') ? 'green' : 'red'}" style="font-weight: 500;">{{getAmount(row.trans_type,row.trans_amt)}}</mat-cell>
          </ng-container>
    
        
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="balance">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Closing Balance </mat-header-cell>
            <mat-cell *matCellDef="let row"  style="font-weight: 500;" > {{getClosingBalance(row)}} </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row class="tablehover" *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      
        <mat-paginator [pageSizeOptions]="[ 10, 25, 100]"></mat-paginator>
      </div>
    